.main {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('https://www.workbeyondcoding.com/img/2020/09/coding.webp');
}

@keyframes slideUpToDown {
    0% {
      transform: translateY(-30%);
      opacity: 0%;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }
}

.container{
    background-color: rgba(36, 64, 119, 0.717);
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    animation: 1s ease-in-out 0s 1 slideUpToDown;
}

.content {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login > form {
    justify-content: center;
    align-items: center;
    width: 100%;
}


.description {
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    width: 100%;
}

.form_input{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.form_input input{
    padding: 8px 14px;
    outline: none;
    color: var(--primary-dark-color);
    background-color: var(--secondary-dark-bg);
    border: 1px solid var(--primary-dark-bg);
    border-radius: 6px;
    width: 100%;
}

.form_input input::placeholder{
    color: var(--primary-dark-color-op-65);
}

.form_input input:focus{
    border-color: rgb(43, 114, 139);
    background-color: var(--secondary-dark-bg-hover);
}

.button_box{
    width: 100%;
}

.button_box button {
    background-color: rgb(43, 114, 139);
    padding: 0.8rem 0.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: inherit;
    width: 100%;
  }

.button_box button:hover {
    background-color: rgb(57, 151, 186);
}

.signUp{
    color: rgba(240, 248, 255, 0.5);
    text-align: center;
}

.signUp a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6)
}

.signUp a:hover{
    color: rgb(57, 151, 186);
    text-shadow: 0 0 8px rgba(57, 151, 186, 0.5);
}


